*{
    margin: 0;
    padding: 0;  
  }
  .header{
      min-height: 100vh;
      width: 100%;
      background-image:url(cat2.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
  }
  nav{
   display: flex; 
   justify-content: space-between; 
   align-items: center;
  }
   img{
      width: 80px;
      padding: 2% 6%;
  }
  .nav-links{
      
      text-align: right;
  }
   ul li{
      list-style: lower-roman;
      display: inline-flex;
      padding: 8px 12px;
      position: relative;
  }
   ul li a{
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: bolder;
  }
  ul li a:hover{
color: orange;
cursor: pointer;
  }
  ul li ::after{     
position: relative;
content: "";
}
ul li ::after{
content: '';
width: 0%;
 height: 2px;
background-color: gold;
transition: 0.5s;
position: relative;
display: block;
}
ul li:hover ::after{
  width: 100%; 
  position: absolute; 
      }
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box.h1 {
    font-size:62px;  
}
.hero-btn{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-weight: bolder;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    background: transparent;
    width: 180px;
    height: 25px;
    padding-top: 10px;
    box-shadow: 3px 3px 3px 3px lightgray;
}
.hero-btn:hover{
    border: 1px solid red;
    background-color: brown;
    transition: 1s;
}
nav .fa{
    display: none;
}
 @media(max-width:700px){
     .text-box h1{
         font-size: 20px;
         }
         .nav-link{
           position: absolute;
           background-color: #f44336;
           height: 100vh;
           width: 200px;
           top: 0;
           right: 0;
           text-align: left;
           z-index: 2;

         }
       nav .fa{
           display: block;
           color: white;
           margin: 10px;
           font-size: 22px;
           cursor: pointer;
       }
       .course{
           width: 50%;
           margin: auto;
           text-align: center;
           padding-top:100px ;
           background-color: white;
       }
     .row{
         margin-top: 5%;
         display: flex;
         justify-content: space-between;
     }
    .layer:hover{
        background: brown;
    }
 }